{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "#config": "./src/config",
          "#controllers": "./src/controllers",
          "#helper": "./src/helper",
          "#models": "./src/models",
          "#modules": "./src/modules",
          "#middleware": "./src/middleware",
        }
      }
    ]
  ]
}
