{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "config": "./src/config",
          "controllers": "./src/controllers",
          "constants": "./src/constants",
          "helpers": "./src/helpers",
          "models": "./src/models",
          "modules": "./src/modules",
          "middleware": "./src/middleware",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
